<!DOCTYPE html>
<html><head>
	<meta charset="utf-8">
	<title>[+title+]</title>
	[+css+]
</head>
<body style="padding:10px">
	<span class="b-ver">[+ver+]</span>
	<h1>[+title+]</h1>
	<div id="js-msg" class="msg [+msgType+]"><div class="msg__text">[+msg+]</div></div>
	<ul class="actionButtons">
		<li><a href="#" onclick="postForm(); return false;"><img alt="icons_delete_document" src="/assets/modules/seagulllibrary/css/images/back.png" /> назад</a></li>
		<li><a href="#" onclick="$('#f-event').submit(); return false;"><img src="media/style/MODxCarbon/images/icons/save.png" alt="icons_save"> Сохранить</a></li>
		<li><a href="#" onclick="delForm('delEvent', [+event_id+]); return false;"><img src="media/style/MODxCarbon/images/icons/delete.png" alt="icons_delete"> Удалить</a></li>
	</ul>
	<form id="f-event" name="module" method="post">
		<div class="b-tabs">
			<ul class="b-tabs__buttons">
				<li class="b-tabs__button_current">Русская версия</li>
				<li>Украинская версия</li>
				<li>Английская версия</li>
			</ul>

			<div class="b-tabs__page b-tabs__page_visible" id="lang_[+lang_default+]">
				[+render_form+]
			</div>

			[+render_form_i18n+]
		</div>
		<input name="cmd" type="hidden" value="saveEvent" />
		<input id="itemID" name="itemID" type="hidden" value="[+event_id+]" />
	</form>
	[+js+]
	<script type="text/javascript" src="../assets/plugins/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="../assets/plugins/ckeditor/adapters/jquery.js"></script>
	<script type="text/javascript" src="/assets/modules/[+nameModule+]/js/[+nameModule+]_events.js"></script>
</body>
</html>
